// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

@import "bootstrap-icons/font/bootstrap-icons.css";

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.list-thumbnail{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.single-photo-update{
    height: 150px;
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.upload-logo:nth-child(2){
    display: none;
}

.article-img{
    width: 100px;
    height: 100px;
}
